<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Warehouse B1 - AMRs & AGVs BMS Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <div class="chart-container">

      <ion-card>
        <ion-card-header>
          <ion-card-title>Actions</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <div class="content">
            <h2 style="color: #fff;">Simulate temperature anomaly</h2>
            <ion-button color="danger" (click)="enableTemperatureAnomaly()">Enable Temperature Anomaly</ion-button><br/>
            <ion-button color="dark" (click)="disableTemperatureAnomaly()">Disable Temperature Anomaly</ion-button><br/><br/>

            <h2 style="color: #fff;">Battery Health Predictions - AI inferencing endpoints</h2>
            <ion-button color="primary" (click)="predictStress()">Battery Stress Detection</ion-button><br/>
            <ion-button color="primary" (click)="predictTimeToFailure()">Battery Time to Failure</ion-button><br/><br/>

            <h2 style="color: #fff;">Auto AI inferencing intervall</h2>
            {{autoInferenceIntervalMs > 0 ? 'Current auto inferencing interval: ' + autoInferenceIntervalMs + ' ms' : 'Auto inferencing is currently disabled.'}}<br/>

          </div>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Alerts</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <div class="content">
            <ion-list *ngIf="alerts.length > 0">
              <ion-item *ngFor="let alert of alerts" [ngClass]="{'info': alert.sender === 'info', 'warning': alert.sender === 'warning', 'danger': alert.sender === 'danger', 'inference': alert.sender === 'inference'}">
                <ion-label>
                  <h3 style="font-size: 18px;">{{ alert.date | date: 'dd/MM/yyyy hh:mm:ss' }}: {{ alert.text }}</h3>
                </ion-label>
              </ion-item>
            </ion-list>
          </div>

        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>AMR Warehouse C3-21 - Battery Specification</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <div class="content" style="font-size: 18px; color: #fff;">
            <b style="color: red;">Current Device Load: {{currentLoad}} kg</b><br/>
            Battery ID: 1    <br/>
            Capacity: 4kwh    <br/>
            Voltage: 48V   <br/>
            Battery Type: Lithium-ion<br/>
            Charge Cycles: min 3000 <br/><br/>
            <img src="/assets/images/discover_2025_agv-battery-wiferion-li-ion-eco-budget.png" width="50%"/>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>State of Charge: {{currentStateOfCharge}} | State of Health: {{currentStateOfHealth}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <canvas baseChart [datasets]="stateOfChargeData" [labels]="chartLabels" [options]="chartOptions" [type]="'line'">
          </canvas>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Battery Current: {{currentBatteryCurrent}} | Speed: {{currentSpeed}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <canvas baseChart [datasets]="currentSpeedData" [labels]="chartLabels" [options]="chartOptions" [type]="'line'">
          </canvas>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Battery Temp: {{currentBatteryTemp}} | Ambient Temp: {{currentAmbientTemp}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <canvas baseChart [datasets]="temperatureData" [labels]="chartLabels" [options]="chartOptions" [type]="'line'">
          </canvas>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Voltage: {{curentVoltage}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <canvas baseChart [datasets]="voltageData" [labels]="chartLabels" [options]="chartOptions" [type]="'line'">
          </canvas>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Driving Distance (km): {{currentDistance}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <canvas baseChart [datasets]="distanceData" [labels]="chartLabels" [options]="chartOptions" [type]="'line'">
          </canvas>
        </ion-card-content>
      </ion-card>

    </div>
  </ion-content>
</ion-content>
