<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Battery Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <div class="chart-container">

      <ion-card>
        <ion-card-header>
          <ion-card-title>State of Charge</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <canvas baseChart [datasets]="stateOfChargeData" [labels]="chartLabels" [options]="chartOptions" [type]="'line'">
          </canvas>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Battery Current & Voltage</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <canvas baseChart [datasets]="currentVoltageData" [labels]="chartLabels" [options]="chartOptions" [type]="'line'">
          </canvas>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Temperatures</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <canvas baseChart [datasets]="temperatureData" [labels]="chartLabels" [options]="chartOptions" [type]="'line'">
          </canvas>
        </ion-card-content>
      </ion-card>

    </div>
  </ion-content>
</ion-content>
