<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="center-box">
    <h2>AMR Warehouse C3-21</h2>
    <p>Device Overview</p>

    <ion-card style="width: 500px;">
      <img alt="" src="/assets/images/cirro-warehouses-robot-machines.webp" />
      <ion-card-header>
        <ion-card-title>AMR Warehouse C3-21</ion-card-title>
        <ion-card-subtitle>Location: Warehouse B1</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Product Type: Series AMR (lifts and transports racks/pallets from underneath).<br>
        Model Number: C3-50B1.<br>
        Rated Load: 150 kg.<br>
        <ion-button color="danger" routerLink="/battery-dashboard">Open Realtime Dashboard</ion-button><br/>
      </ion-card-content>
    </ion-card>

  </div>

</ion-content>
